POSTGRES_DB=assetflow
POSTGRES_USER=assetflow
POSTGRES_PASSWORD=assetflow
POSTGRES_PORT=5433

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:3000/api
JWT_SECRET=top_secret_jwt
COOKIE_SECURE=false

PASSWORD_RESET_URL_BASE=http://localhost:3000/reset-password
MAIL_FROM="AssetFlow Security <no-reply@assetflow.local>"
SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_IGNORE_TLS=true

RUN_SEED=true

PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=assetflow@local.dev
PGADMIN_DEFAULT_PASSWORD=assetflow

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/api/auth/github/callback

NUXT_PUBLIC_API_BASE=http://localhost:3000/api
NUXT_API_BASE_SERVER=http://api:3333
NUXT_PUBLIC_GOOGLE_AUTH_ENABLED=false
NUXT_PUBLIC_GITHUB_AUTH_ENABLED=false
